extends layout

block content
  h1 Application opérateur
  ul
    li
      a(href='/driver') Déclarer un chauffeur
    li
      a(href='/vehicle') Déclarer un véhicule
    li
      a(href='/ads') Déclarer une ADS
    li
      a(href='/taxi') Déclarer un taxi

  fieldset
    legend RAPPEL
    blockquote Un taxi est la combinaison d'un chauffeur, d'un véhicule et d'une ADS, vous aurez besoin des trois avant de créer un taxi fonctionnel.